<ion-header>
  <ion-toolbar>
    <ion-title>Vehicle Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Welcome 👋</h2>

  <p>Manage your vehicles, fuel, documents and maintenance in one place.</p>

  <ion-button expand="block">
    My Vehicles
  </ion-button>

  <ion-button expand="block">
    Fuel Management
  </ion-button>

  <ion-button expand="block">
    Documents
  </ion-button>

  <ion-button expand="block">
    Maintenance
  </ion-button>

  <ion-button
    expand="block"
    fill="outline"
    color="danger"
    (click)="logout()">
    Logout
  </ion-button>

</ion-content>
